* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

/* START HEADER */

.header {
    background-color: #1F2937;
    color: #f9faf8;
    
}

.header-container {
    max-width: 850px;
    margin: 0 auto;
}

.header-logo {
    height: auto;
    width: 50px;
    border: 2px solid #f9faf8;
    border-radius: 10px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 0px;
    margin-bottom: 40px;
}

.navbar ul {
    display: flex;
    gap: 16px;
    list-style-type: none;
}

.navbar a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
}

.header .header-container > div {
    display: flex;
}

h1 {
    margin-bottom: 10px;
    color: #f9faf8;
    font-weight: extra-bold;
    font-size: 48px;
}

button.sign-up {
    margin-top: 10px;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 4px 16px;
    border-radius: 5px;
    font-weight: 900;
}

.header-image {
    height: auto;
    width: 350px;
    border: 2px solid #f9faf8;
    border-radius: 20px;
    margin: 0 0 50px 25px;
}

/* END HEADER */



/* START BODY */

.first-section-container {
    max-width: 850px;
    margin: 0 auto;
}

h2 {
    font-size: 36px;
    font-weight: extra-bold;
    color: #1F2937;
    text-align: center;
    margin: 35px 0;
}

.flowers-container {
    display: flex;
    margin: 0 auto;
    max-width: 650px;
    justify-content: space-evenly;
    gap: 0 8px;
    margin-bottom: 35px;
}

.flower {
    display: flex;
    flex-flow: column;
    align-items: center;
    height: auto;
    width: 150px;
    gap: 8px 0;
    flex: 1 1 0;
}

.flower p {
   text-align: center;
}

.flower img {
    width: 120px;
    height: auto;
    flex: 1 1 0;
    border: 3px solid #3882f6;
    border-radius: 16px;
}


/* END BODY */



/* START FOOTER */

/* END FOOTER */



